<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home Fitness Training System</title>
   <link rel="stylesheet" href="{{url_for('static', filename='CSS/styles.css')}}">
   <script src="http://code.jquery.com/jquery-latest.min.js"></script>
   <script src="{{url_for('static', filename='JS/scripts.js')}}"></script>
</head>
<body>
   <div class="mobile-contaier">
      <div class="head"></div>
      <div class="oEUMCt"></div>
      <div class="mobile-view-main">
        <div id="title">Home Fitness Training</div>
        <div id="select_train">
          <input type="button" class="button" id="push-up" value="Push-Up" onClick="location.href='/pre_pushup'">
          <input type="button" class="button" id="squat" value="Squat" onClick="location.href='/pre_squat'">
         </div>
      </div>
      <div class="tail"></div>
  </div>
</body>
</html>
