<!DOCTYPE html>
<html lang="ko">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Multiple Live Streaming</title>
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/styles.css')}}">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="{{url_for('static', filename='JS/scripts.js')}}"></script>
</head>
<body>
  <div class="mobile-contaier">
      <div class="head"></div>
      <div class="oEUMCt"></div>
      <div class="mobile-view">
        <div id="counting_area">
          <p id="goal">10</p>
          <div class="bar"></div>
          <p id="count">0</p>
        </div>
        <img class="my_video" src="{{ url_for('video_feed', dev='0')}}">
        <video class="sample_video" controls autoplay muted loop>
          <source src="/static/samples/push-up1.mp4">
        </video>
      </div>
      <div class="tail"></div>
  </div>
</body>
</html>