<!DOCTYPE html>
<html lang="ko">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Fitness Training System</title>
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/styles.css')}}">
  <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='JS/scripts.js') }}"></script>
</head>
<body>
  <div class="mobile-contaier">
    <div class="head"></div>
    <div class="oEUMCt"></div>
    <div class="mobile-view">
    <div id="clear">CLEAR</div>
      <div id="counting_area">
        <div class="num" id="goal">{{value}}</div>
        <div class="bar"></div>
        <div class="num" id="count">0</div>
      </div>
      <img class="my_video" src="{{ url_for('camera_feed')}}">
      <img class="sample_video" src="{{ url_for('video_feed', filename='sam2.mp4', count=25)}}" width="50%">
    </div>
    <div class="tail"></div>
</div>
</body>
<script>
  var count = document.getElementById("count");
  setInterval(() => {
        fetch("{{ url_for('data_feed') }}")
            .then(response => {
                response.text().then(data => {
                    count.innerText = data
                });
            })
    }, 500);

</script>
</html>
